* {
    margin:0;
}
.container {
    height: 100vh;
}
.container::before {
    content: "";
    background-image: url("download.png");
    background-position: center;
    background-size:cover;
    opacity: 60%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    z-index: -1;

}
h1 {
    color: rgba(255, 153, 0, 0.699);
    font-size: 3rem;
}